body,html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
section{
	position: relative;
	padding: 0!important;
	margin: 0!important;
	min-height: 100%;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
}

/*indicator to switch to next page*/
.next-link{
	display: block;
	width: 100%;
	padding: 15px;
	text-decoration: none;
}
.next-link:focus{
	background: blue;
}
.next-link .glyphicon{
	font-size: 24px;
}	